<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>494</integer>
	<integer>523</integer>
	<integer>554</integer>
	<integer>587</integer>
	<integer>622</integer>
	<integer>659</integer>
	<integer>698</integer>
	<integer>740</integer>
	<integer>784</integer>
	<integer>831</integer>
	<integer>880</integer>
	<integer>932</integer>
	<integer>988</integer>
	<integer>1047</integer>
	<integer>1109</integer>
	<integer>1175</integer>
	<integer>1245</integer>
	<integer>1319</integer>
	<integer>1397</integer>
	<integer>1480</integer>
	<integer>1568</integer>
	<integer>1661</integer>
	<integer>1760</integer>
	<integer>1865</integer>
	<integer>1976</integer>
	<integer>2093</integer>
	<integer>2217</integer>
	<integer>2349</integer>
	<integer>2489</integer>
	<integer>2637</integer>
	<integer>2794</integer>
	<integer>2960</integer>
	<integer>3136</integer>
	<integer>3322</integer>
	<integer>3520</integer>
	<integer>3729</integer>
	<integer>3951</integer>
	<integer>4186</integer>
</array>
</plist>
